[scripts]
server = "python ./src/simplified_ftp server"
client = "python ./src/simplified_ftp client"
docs = "sphinx-build docs docs/_build"

[dev-packages]
sphinxcontrib-napoleon = "*"
sphinx = "*"

[packages]

[requires]
python_version = "3.7"
