[[source]]
name = "simplified_ftp"
url = "https://github.com/FallingSnow/simplified-ftp.git"
verify_ssl = true

[scripts]
server = "python ./src/server"

[dev-packages]

[packages]

[requires]
python_version = "3.7"
